.settings
.ropeproject
*.pyc
.DS_Store
_build
.*.sw[po]
*.egg-info
dist
build
MANIFEST
.tox
env
env3
*.egg
.eggs
.coverage

test_searchstack/solr_tests/server/solr-4.6.0.tgz
test_searchstack/solr_tests/server/solr4/
